.professional {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: white;
}

.professional__title {
  font-family: "Roboto";
  color: black;
  text-align: center;
  font-size: 36px; 
  font-weight: bold;
}

.professional__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.professional__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.professional__column-center__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.professional__column-left {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  width: 400px;
}

.professional__column-center__space {
  width: 149px;
  flex-direction: column;
}

.professional__column-center {
  flex-direction: column;
  width: 300px;
  display: flex;
  align-items: center;
}

.professional__column-right {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 400px;
}

.professional__column-center__line {
  width: 1px;
  background-color: #8A8888;
}

.professional__column__space {
  margin-bottom: 200px;
  width: 400px;
}
