.about-me {
  padding-top: 100px;
  padding-bottom: 150px;
}

.about-me__title {
  font-family: "Roboto";
  color: black;
  text-align: center;
  font-size: 36px; 
  font-weight: bold;
}

.about-me__info__text {
  font-family: "Roboto";
  color: #8A8888;
  text-align: center;
  font-size: 14px; 
  font-weight: bold;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: justify;
}