.goals {
  margin-top: 150px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #242E3E; 
}

.goals__title {
  font-family: "Roboto";
  color: White;
  text-align: center;
  font-size: 48px; 
  font-weight: bold;
}

.goals__row {
  display: flex;

  justify-content: center;
}
