.goals {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #242E3E; 
}

.goals__title {
  font-family: "Roboto";
  color: White;
  text-align: center;
  font-size: 36px; 
  font-weight: bold;
}

.goals__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.goals__column {
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
